<style>
.list-item:first-child { margin-top: 0 !important; }
.list-item { margin-top: 20px; }
.list-item .col-md-2 { border-left: 1px dotted #ccc; min-height: 160px; background-color: rgba(151, 196, 228, 0.7);box-shadow: -2px 0px 5px #AEAFB2;-moz-box-shadow: -2px 0px 5px #AEAFB2; -webkit-box-shadow: -2px 0px 5px #AEAFB2;}
.list-item ul { padding-left: 0 !important; list-style: none;  }
.list-item ul li { font-size: 400 ; line-height: 30px; }
.list-item ul li i { padding-right: 5px; }
.list-item h3 { margin-top: 0 !important; margin-bottom: 15px !important; font-size:18px;color:black;text-shadow: 0px 2px 4px #bbb; }
.list-item h3 > a, .list-item i { color: #248dc1 !important; }
.list-item-content{min-height: 175px;}
.avatar-box{
	max-height: 120px;
	overflow: hidden;
	line-height: 23px;
}
.avatar-item {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 50px;
        font-weight: bold;
}
.avatar-item>img {
    width: 32px!important;
    height: 32px!important;
    margin-bottom: 5px;
}
.avatar-item>span {
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
}
.item-box{
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    position: relative;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    padding-top: 15px;
}
.item-box:hover{
    cursor: pointer;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}
 @media (max-width: 767px) {
 	
	.list-item .col-md-2 { 
		border-top: 1px dotted #ccc;
        min-height: 50px;
        padding-top: 12px;
        background-color: rgba(151, 196, 228, 0.7);
    }
	.avatar-box{
		max-height: 240px;
		overflow: hidden;
		line-height: 23px;
	}
}
</style>
<div class="content" style="padding-bottom: 10px;">
    <legend><strong>正在进行</strong></legend>
    <volist name="activities" id="activity">
        <article class="list-item row item-box" data-aid="{$activity.aid}">
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 list-item-content">
                <h3><span class="glyphicon glyphicon-bookmark" style="top: 4px;color: #d9534f"></span> {$activity.subject}</h3>
                <div class="avatar-box">
                    <volist name="activity['members']" id="member">
                        <div class="avatar-item">
                            <img class="img-circle" src="__UPLOAD__/avatar/thumbmini_{$member.avatar}"/>
                            <span>{$member.username}</span>
                        </div>
                    </volist>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <ul class="hidden-xs">
                    <li><i class="glyphicon glyphicon-time" style="top: 4px;"></i> <label class="label label-default" >{$activity.friendly_date}</label></li>
                    <li><i class="glyphicon glyphicon-tags" style="top: 4px;"></i> <label class="label label-primary" >{$activity.category_name}</label></li>
                    <li><i class="glyphicon glyphicon-user" style="top: 4px;"></i> <span><span class="badge" style="background-color: #d9534f;color: #ffffff">{$activity.members_num}</span></span></li>
                    <li><i class="glyphicon glyphicon-comment" style="top: 4px;"></i> <span class="badge" style="background-color: #d9534f;color: #ffffff">{$activity.replies}</span></li>
                    <li><i class="glyphicon glyphicon-eye-open" style="top: 4px;"></i> <span class="badge" style="background-color: #d9534f;color: #ffffff">{$activity.views}</span></li>
                </ul>
                <ul class="visible-xs" style="float: left;">
                    <li><small style="color: #fff;">{$activity.friendly_date}</small></li>
                    <li>
                        <i class="glyphicon glyphicon-user" style="top: 4px;"></i> <span><span class="badge" style="background-color: #d9534f;color: #ffffff">{$activity.members_num}</span></span>
                        <i class="glyphicon glyphicon-comment" style="top: 4px;margin-left: 5px;"></i> <span class="badge" style="background-color: #d9534f;color: #ffffff">{$activity.replies}</span>
                        <i class="glyphicon glyphicon-eye-open" style="top: 4px;margin-left: 5px;"></i> <span class="badge" style="background-color: #d9534f;color: #ffffff">{$activity.views}</span>
                    </li>
                </ul>
            </div>
        </article>
    </volist>
</div>
<script>
    $(function(){
        $(".list-item").on("click",function(){
            var aid = $(this).data('aid')
            loadPageViewPosts(aid);
        })
    })
</script>